{% include "header.html" %}

<div class="container mt-5 mb-5">

    <h1>🌏 LearnSphere ⦡</h1>

    <!-- Field Form -->
    <form name="field" id="field" method="POST">
        <!-- Choose your field -->
        <div class="formField border border-primary border-5 mt-4 p-5">
            <h1>Choose Your Field</h1>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Computer
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Maths
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                <label class="form-check-label" for="flexRadioDefault3">
                    Astrology
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                    Biology
                </label>
            </div>
        </div>
    </form>

    <!-- Subject Form -->
    <form name="subject" id="subject" method="POST" action="/submit">
        <!-- Choose your Subject -->
        <div class="formSub border border-success border-5 mt-4 p-5">
            <h1>Choose Your Subject</h1>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    ML
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Web Development
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                <label class="form-check-label" for="flexRadioDefault3">
                    Backend Development
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                    System Design
                </label>
            </div>
        </div>
    </form>

    <!-- Knowledge Form -->
    <form name="knowledge" id="knowledge" method="POST" action="/submit">
        <!-- Choose your Knowledge -->
        <div class="formKnow border border-danger border-5 mt-4 p-5">
            <h1>Choose Your Knowledge</h1>
            <input type="checkbox" id="know1" name="know1" value="python">
            <label for="know1"> Python</label><br>
            <input type="checkbox" id="know2" name="know2" value="java">
            <label for="know2"> Java</label><br>
            <input type="checkbox" id="know3" name="know3" value="django">
            <label for="know3"> Django</label><br>
            <input type="checkbox" id="know4" name="know4" value="flask">
            <label for="know4"> Flask</label><br>
            <input type="checkbox" id="know5" name="know5" value="javascript">
            <label for="know5"> Js</label>
        </div>
    </form>


    <!-- Choose your Time -->
    <div class="formKnow border border-warning border-5 mt-4 p-5">
        <!-- Time Form -->
        <form name="days" id="days" method="POST" action="/submit">
            <h1>Choose Your Time</h1>
            <h2 class="mt-2">Days in Week</h2>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    2-4 Days
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    4-6 Days
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                <label class="form-check-label" for="flexRadioDefault3">
                    6-7 Days
                </label>
            </div>
        </form>

        <!-- Hours Form -->
        <form name="hrs" id="hrs" method="POST" action="/submit">
            <h2 class="mt-2">Hours in a Day</h2>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    2-4 hrs
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    4-6 hrs
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                <label class="form-check-label" for="flexRadioDefault3">
                    6-7 hrs
                </label>
            </div>
    </div>
    </form>

    <!-- Learning type Form -->
    <form name="learn" id="learn" method="POST">
        <!-- Choose your Learning type -->
        <div class="formKnow border border-dark border-5 mt-4 mb-2 p-5">
            <h1>Choose Your Learning Type</h1>
            <input type="checkbox" id="learn1" name="learn1" value="video">
            <label for="learn1">Video</label><br>
            <input type="checkbox" id="learn2" name="learn2" value="blog">
            <label for="learn2">Blog</label><br>
            <input type="checkbox" id="learn3" name="learn3" value="audio">
            <label for="learn3">Audio</label><br>
        </div>
    </form>

    <div id="result-div">
        <!-- <div class="border border-dark border-5 mt-4 mb-2 p-5">
            <h2>Get your roadmap</h2>
            <div id="result-data">

            </div>
        </div> -->
    </div>


    <div id="html-output"></div>

    <div id="result-btn">
        <button id="submit-btn" class="btn btn-primary w-100" onclick="submitForms()">Generate Rodmap</button>
    </div>
    
    <script>
        const renderResultDiv = () => {
            const resultDiv = document.getElementById('result-div');
            resultDiv.innerHTML = `
                <div class="border border-dark border-5 mt-4 mb-2 p-5">
                    <div id="result-data">
                    </div>
                </div>
            `;
        }

        const renderSpinner = () => {
            const spinner = `
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            `;
            document.getElementById('result-data').innerHTML = spinner;
        }

        const renderDisabledButton = () => {
            const resultBtnDiv = document.getElementById('result-btn');
            resultBtnDiv.innerHTML = `
                <button id="submit-btn" class="btn btn-primary w-100" disabled>
                    Creating a personalized roadmap for you...
                </button>
            `;
        }

        const renderEnabledButton = () => {
            const resultBtnDiv = document.getElementById('result-btn');
            resultBtnDiv.innerHTML = `
                <button id="submit-btn" class="btn btn-danger w-100" onclick="submitForms()">Generate another roadmap</button>
            `;
        }

        const submitForms = async () => {
            renderResultDiv();
            renderSpinner();
            renderDisabledButton();
            // Get form elements and values
            const resultData = document.getElementById('result-data');
            const fieldForm = document.getElementById('field');
            const subjectForm = document.getElementById('subject');
            const knowledgeForm = document.getElementById('knowledge');
            const daysForm = document.getElementById('days');
            const hrsForm = document.getElementById('hrs');
            const learnForm = document.getElementById('learn');

            // Create an object to store form data
            const formData = {};

            // Get field value
            const field = fieldForm.querySelector('input[name="flexRadioDefault"]:checked').parentNode.textContent.trim();
            formData.field = field;

            // Get subject value
            const subject = subjectForm.querySelector('input[name="flexRadioDefault"]:checked').parentNode.textContent.trim();
            formData.subject = subject;

            // Get knowledge values
            const knowledgeInputs = knowledgeForm.querySelectorAll('input[type="checkbox"]:checked');
            const knowledge = [];
            knowledgeInputs.forEach(function (input) {
                knowledge.push(input.value);
            });
            formData.knowledge = knowledge;

            // Get days value
            const days = daysForm.querySelector('input[name="flexRadioDefault"]:checked').parentNode.textContent.trim();
            formData.days = days;

            // Get hours value
            const hrs = hrsForm.querySelector('input[name="flexRadioDefault"]:checked').parentNode.textContent.trim();
            formData.hrs = hrs;

            // Get learning type values
            const learnInputs = learnForm.querySelectorAll('input[type="checkbox"]:checked');
            const learn = [];
            learnInputs.forEach(function (input) {
                learn.push(input.value);
            });
            formData.learn = learn;

            // Create JSON object
            const jsonData = JSON.stringify(formData);

            const response = await fetch('/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: jsonData
            })
         
            if (response.ok) {
                const data = await response.json();
                console.log(data);
                resultData.innerHTML = data.data.result;
                renderEnabledButton();
            }
            // Perform further actions (e.g., submit the JSON data to the server)
            // ...
        }
    </script>

</div>