{% include "header.html" %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Register</h3>
                </div>
                <div class="card-body">
                    <form name="register" id="register-form">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Enter your email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Enter your password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const form = document.getElementById('register-form');

    form.addEventListener('submit', (e) => {
        e.preventDefault();

        // Retrieve form data
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        // check if email and password are not empty string of lenght zero
        if (email.trim().length === 0 || password.trim().length === 0) {
            alert('Please enter a valid email and password');
            return;
        }

        // Create an object with the form data
        const formData = {
            email: email,
            password: password
        };

        // Send form data to the Flask server
        fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>